@import './variables.scss';

// containers
@mixin flex-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@mixin flex-container-column {
    display: flex;
    flex-direction: column;
}  

// shadows 
@mixin primary-shadow {
  box-shadow: 1px 2px 6px $gray-light;
}

// borders 
@mixin border-primary {
    border: none;
    border-radius: $border-radius-standard;
}

// fields 
@mixin input-primary {
  @include border-primary;
  padding: 14px 5px;
  margin: 2px 0px;
}

// buttons 
@mixin primary-button {
  @include border-primary;
  border: none;
  padding: 8px 2px;
  color: white;
  background: $primary-blue;
  cursor: pointer;
}
