// colors
$font-color1: #2f4f4f;

$green-light: #C7E7C8;

$gray-light: lightgray;
$dark-slate-gray: #2f4f4f;

$primary-blue: #85889C;
$medium-dark-blue: #535970;

$primary-error: #EE6C75;

// misc
$border-radius-standard: 3px;
$border-radius-medium: 5px;

// font-sizes
$medium-font-size: 13px;