@import '../../../_utils/modules.scss';

.dashboard {
    display: flex;

    &-left {
        width: 200px;
    }

    &-right {
        flex:1;
    }
}

.menu {
    height: 100vh;
    background-color: $medium-dark-blue;

    &-item {
        margin-bottom: 30px;
        padding: 10px 5px;
        cursor: pointer;
        transition: all 0.5s ease;
        color: $gray-light;    
        a {
            color: $gray-light;
            text-decoration: none;
        }
          
        &:hover {
            background-color: $primary-blue;
        }
    }
}