@import '../_utils//modules.scss';

* {
  outline: none;
}

body {
  margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primary-blue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primary-blue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $primary-blue;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-blue; 
}
