@import '../../../_utils/modules.scss';

.navbar {
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px $gray-light;
    color: $font-color1;
    font-weight: 500;

    &-start {
        flex-grow: 1;
        align-items: center;
    }

    &-end {
        flex-grow: 0.5;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 768px) {
            justify-content: space-between;    
        }
    }

    &-cart {
        position: relative;
        path {
            fill: $dark-slate-gray;
        } 
    
        &-total {
            position: absolute;
            left: 0;
            bottom: -3px;
            background: $primary-blue;
            border-radius: 50px;
            padding: 1px 2px;
            font-size: 9px;
            color: white;
        }
    }

    &-desktop-option{
        @media (max-width: 768px) {
            display: none ;    
        }
    }

    &-burger-icon {
        path {
            fill: $font-color1;
        }
        @media (min-width: 1024px) {
            display: none ;    
        }
    }

    &-mobile-menu-closed {
        display: none;
    }

    &-mobile-menu{
        position: absolute;
        height: 100vh;
        top: 0;
        width: 100vw;
        left: 0; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
        background-color: rgba(211,211,211,0.9);
    }

    &-close {
        position: absolute;
        top: 23px;
        right: 35px;
        
        path {
            fill: $font-color1;
        }
    }
}