@import '../../../_utils/modules.scss';


.loginpage-toggle-form {
    margin-bottom: 15px;

    span {
        cursor: pointer;
        color: $font-color1;
        font-weight: 600;
        font-style: oblique;
        margin: 0px 12px;
        padding-bottom: 1px;
    }

    .active{
        text-decoration: underline;
    }
}

.loginpage-form {
    width: 60%;
    padding-top: 30px;
    background: $green-light;
    border-radius: $border-radius-medium;
    @include flex-container-center;
    @include primary-shadow;

    @media (max-width: 480px) {
        width: 100%;
    }

    .loginform {
        width: 45%;
        @include flex-container-center;

        @media (max-width: 768px) {
            width: 55%;
        }

        @media (max-width: 480px) {
            width: 80%;
        }
        
        .form-control {
            @include flex-container-column;
            margin: 10px 0px;
            position: relative;
            width: 100%;


            input {
                @include input-primary;

                &:focus {
                    @include primary-shadow;
                }
            }

            label {
                color: $font-color1;
                font-weight: 500;
                font-size: $medium-font-size;
            }

            .loginform-error {
                position: absolute;
                top: -3px;
                right: 0;
                color: $medium-dark-blue;
            }
        }

        button {
            @include primary-button;
            width: 100%;
            margin: 30px;
            transition: background 1s ease;

            &:hover {
                background: $medium-dark-blue;
            }
        }
    }
}
