@import '../../../_utils/modules.scss';

.loginpage-form {
    width: 60%;
    background: $green-light;
    border-radius: $border-radius-medium;
    @include flex-container-center;
    @include primary-shadow;

    .loginform {
        width: 100%;
        @include flex-container-center;

        .form-control {
            @include flex-container-column;
            margin: 5px 0px;
            position: relative;
            width: 45%;

            input {
                @include input-primary;

                &:focus {
                    @include primary-shadow;
                }
            }

            label {
                color: $dark-slate-gray;
                font-weight: 700;
            }
        }

        button {
            @include primary-button;
            width: 45%;
            margin: 30px;
            transition: all 1s ease;

            &:hover {
                background: $medium-dark-blue;
            }
        }
    }
}